<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page0</key>
		<dict>
			<key>CreationDate</key>
			<date>2014-01-11T04:14:18Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>D1AD84BD-3E2F-4C10-8546-A485E7E92299</string>
			<key>PageDigests</key>
			<dict>
				<key>files/0c4e139d6e01124d31484016a6665fb3-4.html</key>
				<dict>
					<key>Digest</key>
					<data>
					KALmy9y+jOeYIV60L9U7pw==
					</data>
					<key>Size</key>
					<integer>9342</integer>
				</dict>
				<key>files/341725b8aa74275b594a45f6a85243f0-2.html</key>
				<dict>
					<key>Digest</key>
					<data>
					m/8oAH4mTEXAQxmoKXz8Gg==
					</data>
					<key>Size</key>
					<integer>8862</integer>
				</dict>
				<key>files/archive-nov-2012.html</key>
				<dict>
					<key>Digest</key>
					<data>
					cKvMnCfGcC8zX64cWMYD0A==
					</data>
					<key>Size</key>
					<integer>9310</integer>
				</dict>
				<key>files/archive-oct-2011.html</key>
				<dict>
					<key>Digest</key>
					<data>
					lPzl1Rzr1HJLzyMXwGPyCQ==
					</data>
					<key>Size</key>
					<integer>9505</integer>
				</dict>
				<key>files/f88ba664c0b0a789bb883a4f35a7d476-3.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Y9bCOP5CxlWroHU9SEiiIw==
					</data>
					<key>Size</key>
					<integer>7697</integer>
				</dict>
				<key>files/feed.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					Ozs/o0QWGw+r+l4p+rhQlg==
					</data>
					<key>Size</key>
					<integer>6206</integer>
				</dict>
				<key>files/page0_blog_entry2-splash2011.png</key>
				<dict>
					<key>Digest</key>
					<data>
					8jultJqlsk3uiXR/BH+tfg==
					</data>
					<key>Size</key>
					<integer>18650</integer>
				</dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					JEBoxPVaXE53yaGWRuC2eg==
					</data>
					<key>Size</key>
					<integer>11574</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page0</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
